<rss version="0.91">
    <channel>
        <title>{settings.feed.title}</title>
        <link>{settings.feed.link}</link>
        <description>{settings.feed.description}</description>
        <language>{settings.feed.language}</language>
        <f:if condition="{settings.feed.copyright}">
            <copyright>{settings.feed.copyright}</copyright>
        </f:if>
        <lastBuildDate><f:cObject typoscriptObjectPath="lib.ll_pubdate" data="{f:format.date(format:'U' date:'{jobs.0.tstamp}')}" /></lastBuildDate>

        <f:if condition="{f:count(subject:'{jobs}')} > 0">
            <f:for each="{jobs}" as="job" iteration="iterator">
                <item>
                    <title>{job.jobTitle}</title>
                    <link><f:format.htmlentities><f:uri.action action="show" arguments="{job : job}" absolute="1" /></f:format.htmlentities></link>
                    <description><f:format.cdata><f:format.htmlentitiesDecode keepQuotes="FALSE" encoding="utf-8"><f:format.nl2br>{job.jobDescription}</f:format.nl2br></f:format.htmlentitiesDecode></f:format.cdata></description>
                </item>
            </f:for>
        </f:if>
    </channel>
</rss>