{namespace jobfair=Dan\Jobfair\ViewHelpers}
<div class="form-group tx_jobfair-new-item" id="tx_jobfair-new-item-employer">
    <div class="col-sm-3 control-label"><label for="jobfair_item_employer" class="tx_jobfair-new-label">
        <f:translate key="tx_jobfair_domain_model_job.employer" />
    </label></div>
    <div class="col-sm-5 tx_jobfair-new-content">
        <f:form.textfield
                id="jobfair_item_employer"
                property="employer"
                class="form-control tx_jobfair-new-input" />
    </div>
</div>
