{namespace jobfair=Dan\Jobfair\ViewHelpers}
<div class="form-group tx_jobfair-new-item" id="tx_jobfair-new-item-experience">
    <div class="col-sm-3 control-label"><label for="jobfair_item_experience" class="tx_jobfair-new-label">
        <f:translate key="tx_jobfair_domain_model_job.experience" />
    </label></div>
    <div class="col-sm-5 tx_jobfair-new-content">
        <f:form.textfield
                id="jobfair_item_experience"
                property="experience"
                class="form-control tx_jobfair-new-input" />
    </div>
</div>