{namespace jobfair=Dan\Jobfair\ViewHelpers}
<div class="form-group tx_jobfair-new-item" id="tx_jobfair-new-item-jobType">
    <div class="col-sm-3 control-label"><label for="jobfair_item_jobType" class="tx_jobfair-new-label">
        <f:translate key="tx_jobfair_domain_model_job.job_type" />
    </label></div>
    <div class="col-sm-5 tx_jobfair-new-content">
        <f:form.select
                id="jobfair_item_jobType"
                property="jobType"
                options="{
                0: '{f:translate(key:\'tx_jobfair_domain_model_job.job_type.0\')}',
                1: '{f:translate(key:\'tx_jobfair_domain_model_job.job_type.1\')}'}"
                class="form-control tx_jobfair-new-select"
                />
    </div>
</div>
