{namespace jobfair=Dan\Jobfair\ViewHelpers}
<div class="form-group tx_jobfair-new-item" id="tx_jobfair-new-item-region">
    <div class="col-sm-3 control-label"><label for="jobfair_item_region" class="tx_jobfair-new-label">
        <f:translate key="tx_jobfair_domain_model_job.region" />
    </label></div>
    <div class="col-sm-5 tx_jobfair-new-content">
        <f:form.select
                id="jobfair_item_region"
                property="region"
                options="{regions}"
                multiple="true"
                optionValueField="uid"
                optionLabelField="name"
                prependOptionValue=""
                prependOptionLabel="{f:translate(key:'emptySelectNew')}"
                class="form-control tx_jobfair-new-select"
                />
    </div>
</div>
