{namespace jobfair=Dan\Jobfair\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <h1><span><f:translate key="applyJob" />{job.jobTitle}</span></h1>
    <f:flashMessages />
    <f:form.validationResults for="newApplication">
    <f:if condition="{validationResults.flattenedErrors}">
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                <f:for each="{errors}" as="error">
                    <div class="typo3-messages">
                        <div class="alert alert-danger">
                            <div class="media">
                                <div class="media-left">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-times fa-stack-1x"></i>
						</span>
                                </div>
                                <div class="media-body">
                                    <h4 class="alert-title">{propertyPath}</h4>
                                    <div class="alert-message">{error.message}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:for>
            </f:for>
    </f:if>
    </f:form.validationResults>

    <f:form class="form-horizontal" action="createApplication" name="newApplication" object="{newApplication}" arguments="{job : job, user : user}" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                <label class="tx_jobfair-label"><f:translate key="tx_jobfair_domain_model_application.name" /></label>
            </div>
            <div class="col-sm-5">
                <f:form.textfield class="form-control" property="name" size="40" value="{user.firstName} {user.lastName}" required="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                <label class="tx_jobfair-label"><f:translate key="tx_jobfair_domain_model_application.email" /></label>
            </div>
            <div class="col-sm-5">
                <f:form.textfield class="form-control" size="40" property="email" value="{user.email}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                <label class="tx_jobfair-label"><f:translate key="tx_jobfair_domain_model_application.message" /></label>
            </div>
            <div class="col-sm-5">
                <f:form.textarea class="form-control" rows="20" cols="60" property="message" value="{newApplication.message}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                <label class="tx_jobfair-label"><f:translate key="tx_jobfair_domain_model_application.attachment" /></label>
            </div>
            <div class="col-sm-5">
                <jobfair:form.upload property="attachment"/>
            </div>
        </div>
        <f:form.hidden name="job" value="{job}" />
        <f:if condition="{user}">
            <f:form.hidden name="user" value="{user}" />
        </f:if>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <f:form.submit class="btn btn-primary" value="{f:translate(key:'submitApplyJob')}" />
            </div>
        </div>
    </f:form>
    <div id="tx_jobfair-apply-actionlist">
        <f:link.action class="btn" controller="Job" action="show" arguments="{job : job}"><f:translate key="backToJob" /></f:link.action><br />
    </div>
</f:section>
