{namespace jobfair=Dan\Jobfair\ViewHelpers}
<div class="form-group tx_jobfair-edit-item" id="tx_jobfair-edit-item-salary">
    <div class="col-sm-3 control-label"><label for="jobfair_item_salary" class="tx_jobfair-edit-label">
        <f:translate key="tx_jobfair_domain_model_job.salary" />
    </label></div>
    <div class="col-sm-5 tx_jobfair-edit-content">
        <f:form.textfield
                id="jobfair_item_salary"
                property="salary"
                class="form-control tx_jobfair-edit-input" />
    </div>
</div>
